<h1>Hello, map!</h1>
<form>
  <div class="row">
    <div class="col">
      <div #myMap style='width: 100%; height: 500px;'></div> 
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="number" class="form-control" id="degrees" name="degrees" placeholder="DEGREES" [formControl]="degrees" />
      <div class="alert alert-danger" role="alert" *ngIf="degrees.invalid && (degrees.dirty || degrees.touched)">
        Enter degrees in numeric format from 0 to 360.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="move()" [disabled]="!degrees.valid">MOVE</button>
      <button type="button" class="btn btn-success" (click)="save()">SAVE</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Paths</h5>
      <table class="table">
        <tr *ngFor="let mp of paths">
          <td>Points: {{mp.points.length}}</td>
          <td>
            <span *ngFor="let p of mp.points">
              {{p.x}}:{{p.y}}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>
