<h1>Hello, map!</h1>
<form>
  <div class="row">
    <div class="col">
      <iframe width="500" height="500" frameborder="0" src="https://www.bing.com/maps/embed?h=500&w=500&cp=57.70267405261092~11.966448750621876&lvl=13&typ=s&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
      <canvas #mapCanvas width="500" height="500" style="position: relative; left: -500px;"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="number" class="form-control" id="degrees" name="degrees" placeholder="DEGREES" [formControl]="degrees" />
      <div class="alert alert-danger" role="alert" *ngIf="degrees.invalid && (degrees.dirty || degrees.touched)">
        Enter degrees in numeric format from 0 to 360.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="move()" [disabled]="!degrees.valid">MOVE</button>
      <button type="button" class="btn btn-success" (click)="save()">SAVE</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Paths</h5>
      <table class="table">
        <tbody>
          <tr *ngFor="let mp of paths">
            <td>Points count: {{mp.points.length}}</td>
            <td>
              <table class="table-small">
                <tbody>
                  <tr *ngFor="let p of mp.points">
                    x: {{p.x}}, y: {{p.y}}
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
